/*Body style*/
body {
    font-family: Mulish;
    background-color: #dfe4de;
    color: #525e76;
    line-height: 2;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    font-family: Mulish;
    color: #f95151;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.phase-headers {
    background-color: navy;
    text-align: center;
    color: white;
}

.phase-cells {
    height: 50px;
}

th, td {
    padding: 14px;
}
/*task color classes*/
.completed-task {
    background-color: #77dd77;
}

.in-progress-task {
    background-color: #fdfd96;
}

.havent-started-task {
    background-color: #ff6961;
}

.phase-timetable {
    width: 100%;
}
